<tr>
  <td>
    <%= wind_caption %> <%= point %>
  </td>
  <td>
    <strong><%= tumo_condition[:message] %></strong>
    <div>
      東: <%= tumo_condition[:status][:ton] %> <%= tumo_condition[:game_point][:ton] %>pt
      +
      <%= existing_total[:ton] %>pt =
      <%= tumo_condition[:game_point][:ton] + existing_total[:ton] %>pt
    </div>
    <div>
      南: <%= tumo_condition[:status][:nan] %> <%= tumo_condition[:game_point][:nan] %>pt
      +
      <%= existing_total[:nan] %>pt =
      <%= tumo_condition[:game_point][:nan] + existing_total[:nan] %>pt
    </div>
    <div>
      西: <%= tumo_condition[:status][:sya] %> <%= tumo_condition[:game_point][:sya] %>pt
      +
      <%= existing_total[:sya] %>pt =
      <%= tumo_condition[:game_point][:sya] + existing_total[:sya] %>pt
    </div>
    <div>
      北: <%= tumo_condition[:status][:pe] %> <%= tumo_condition[:game_point][:pe] %>pt
      +
      <%= existing_total[:pe] %>pt =
      <%= tumo_condition[:game_point][:pe] + existing_total[:pe] %>pt
    </div>
  </td>
  <td>
    <% ron_condition.each do |wind, hash| %>
      <strong><%= to_caption(wind) %> => <%= hash[:point] %></strong>
      <div>
        東: <%= hash[:status][:ton] %> <%= hash[:game_point][:ton] %>pt
        + <%= existing_total[:ton] %>pt = <%= hash[:game_point][:ton] + existing_total[:ton] %>pt
      </div>
      <div>
        南: <%= hash[:status][:nan] %> <%= hash[:game_point][:nan] %>pt
        + <%= existing_total[:nan] %>pt = <%= hash[:game_point][:nan] + existing_total[:nan] %>pt
      </div>
      <div>
        西: <%= hash[:status][:sya] %> <%= hash[:game_point][:sya] %>pt
        + <%= existing_total[:sya] %>pt = <%= hash[:game_point][:sya] + existing_total[:sya] %>pt
      </div>
      <div>
        北: <%= hash[:status][:pe] %> <%= hash[:game_point][:pe] %>pt
        + <%= existing_total[:pe] %>pt = <%= hash[:game_point][:pe] + existing_total[:pe] %>pt
      </div>
      <div>
        <br>
      </div>
    <% end %>
  </td>
  <td>
    <% if wind_caption == "東" %>
      <% if ryukyoku[:hitori_noten].present? %>
        <div>
          <strong>一人ノーテン OK</strong>
<!--          <div>-->
<!--            東: <%#= ryukyoku[:hitori_noten][:ton] %> <%#= ryukyoku[:hitori_noten][:game_point][:ton] %>pt-->
<!--            + <%#= existing_total[:ton] %>pt = <%#= ryukyoku[:hitori_noten][:game_point][:ton] + existing_total[:ton] %>pt-->
<!--          </div>-->
<!--          <div>-->
<!--            南: <%#= ryukyoku[:hitori_noten][:nan] %> <%#= ryukyoku[:hitori_noten][:game_point][:nan] %>pt-->
<!--            + <%#= existing_total[:nan] %>pt = <%#= ryukyoku[:hitori_noten][:game_point][:nan] + existing_total[:nan] %>pt-->
<!--          </div>-->
<!--          <div>-->
<!--            西: <%#= ryukyoku[:hitori_noten][:sya] %> <%#= ryukyoku[:hitori_noten][:game_point][:sya] %>pt-->
<!--            + <%#= existing_total[:sya] %>pt = <%#= ryukyoku[:hitori_noten][:game_point][:sya] + existing_total[:sya] %>pt-->
<!--          </div>-->
<!--          <div>-->
<!--            北: <%#= ryukyoku[:hitori_noten][:pe] %> <%#= ryukyoku[:hitori_noten][:game_point][:pe] %>pt-->
<!--            + <%#= existing_total[:pe] %>pt = <%#= ryukyoku[:hitori_noten][:game_point][:pe] + existing_total[:pe] %>pt-->
<!--          </div>-->
        </div>
      <% end %>
      <br>
      <% if ryukyoku[:futari_noten].present? %>
        <div>
          <strong>二人ノーテンOK</strong>
          <% ryukyoku[:futari_noten].each do |noten_wind, game_result| %>
            <div>
              東, <%= to_caption(noten_wind) %>
<!--              <div>-->
<!--                東: <%#= game_result[:ton] %> <%#= game_result[:game_point][:ton] %>pt-->
<!--                + <%#= existing_total[:ton] %>pt = <%#= game_result[:game_point][:ton] + existing_total[:ton] %>pt-->
<!--              </div>-->
<!--              <div>-->
<!--                南: <%#= game_result[:nan] %> <%#= game_result[:game_point][:nan] %>pt-->
<!--                + <%#= existing_total[:nan] %>pt = <%#= game_result[:game_point][:nan] + existing_total[:nan] %>pt-->
<!--              </div>-->
<!--              <div>-->
<!--                西: <%#= game_result[:sya] %> <%#= game_result[:game_point][:sya] %>pt-->
<!--                + <%#= existing_total[:sya] %>pt = <%#= game_result[:game_point][:sya] + existing_total[:sya] %>pt-->
<!--              </div>-->
<!--              <div>-->
<!--                北: <%#= game_result[:pe] %> <%#= game_result[:game_point][:pe] %>pt-->
<!--                + <%#= existing_total[:pe] %>pt = <%#= game_result[:game_point][:pe] + existing_total[:pe] %>pt-->
<!--              </div>-->
            </div>
          <% end %>
        </div>
      <% end %>
      <br>
      <% if ryukyoku[:hitori_tenpai] %>
        <div>
          <strong>一人テンパイOK</strong>
          <% ryukyoku[:hitori_tenpai].each do |tenpai_wind, game_result| %>
          <div>
            <%= to_caption(tenpai_wind) %>
<!--            <div>-->
<!--              東: <%#= game_result[:ton] %> <%#= game_result[:game_point][:ton] %>pt-->
<!--              + <%#= existing_total[:ton] %>pt = <%#= game_result[:game_point][:ton] + existing_total[:ton] %>pt-->
<!--            </div>-->
<!--            <div>-->
<!--              南: <%#= game_result[:nan] %> <%#= game_result[:game_point][:nan] %>pt-->
<!--              + <%#= existing_total[:nan] %>pt = <%#= game_result[:game_point][:nan] + existing_total[:nan] %>pt-->
<!--            </div>-->
<!--            <div>-->
<!--              西: <%#= game_result[:sya] %> <%#= game_result[:game_point][:sya] %>pt-->
<!--              + <%#= existing_total[:sya] %>pt = <%#= game_result[:game_point][:sya] + existing_total[:sya] %>pt-->
<!--            </div>-->
<!--            <div>-->
<!--              北: <%#= game_result[:pe] %> <%#= game_result[:game_point][:pe] %>pt-->
<!--              + <%#= existing_total[:pe] %>pt = <%#= game_result[:game_point][:pe] + existing_total[:pe] %>pt-->
<!--            </div>-->
          </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </td>
</tr>