<!DOCTYPE html>
<html>
<head>
  <%= render :partial => 'layouts/shared/script' %>
  <title>Gwchallenge</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <% if controller.controller_name != 'session' %>
    <%= render :partial => 'layouts/shared/header' %>
  <% end %>
</head>
<body>
<%= yield %>
</body>
<%= render :partial => 'layouts/shared/footer' %>
</html>