<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag('calculator.ico') %>
  <%= render :partial => 'layouts/shared/script' %>
  <title>条件計算</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <% if controller.controller_name != 'session' %>
    <%= render :partial => 'layouts/shared/header' %>
  <% end %>
</head>
<body>
<%= yield %>
</body>
</html>